name: Sync Image to Aliyun  

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Git pull
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - name: Login to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: ctu0307
        password: abcctu98760
        logout: false

    - name: Use Skopeo Tools Sync Image to Docker Hub
      run: |
         skopeo copy docker://docker.io/nacos/nacos-server:v2.2.0 docker://registry.cn-hangzhou.aliyuncs.com/docker-images-by-github/nacos-server:v2.2.0
      # 使用 skopeo 工具将镜像同步到阿里云个人仓库中；
      # 使用时请自行修改【源】和【目标】的【仓库名称：docker-images-by-github】和【镜像名称】
